# Ignora dependências locais (o container instala as próprias)
node_modules
.next
Dockerfile

# Logs e temporários
npm-debug.log
*.log
*.swp
*.tmp
*.DS_Store

# Gerenciador de versão
.git
.gitignore

# Configs e pastas de IDE/editor
.vscode
.idea

# Arquivos de ambiente
.env.*

# Arquivos desnecessários no container
README.md
.eslint.config.mjs